@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

@keyframes line {
0% { width:0; }
100% { width:100%; }
}

* { margin:0; padding:0; }

body { font-family: 'Roboto', 'Noto Sans KR', sans-serif; line-height:26px; }
a { text-decoration:none; color:#000; position:relative; }
a:hover:after { content:""; width:100%; height:10px; background:rgba(255,0,0,0.2); position:absolute; left:0; bottom:0; animation:line 0.3s; }


#contents { width:300px; margin:50px auto; }
#contents h1 { padding-bottom:20px; }
#contents ul { padding: 20px 40px; }
#contents .copy { text-align:right; font-size:12px; color:#999; }

#chapter { text-align:center; }
#chapter h1 { background:#000; color:#fff; font-size:50px; padding:30px 0; }
